@use '../helpers' as *;

.blog-card {
  display: grid;
  grid-template-columns: 24% 1fr auto;
  column-gap: fluid(50, 28);
  padding-block: fluid(80, 40);
  
  &__body {
    display: grid;
    row-gap: fluid(30, 20);
  }
  
  &__date {
    color: var(--color-gray-60);
  }
  
  &__info {
    display: grid;
    row-gap: fluid(10, 4);
  }
  
  &__link {
    align-self: center;
  }
}