@use '../helpers' as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  
  &--2-cols {
    --columns: 2;
  }
  
  &--3-cols {
    --columns: 3;
    --itemPaddingX: #{rem(50)};
    
    @include laptop {
      --itemPaddingX: #{rem(40)};
    }
    
    .bordered-grid__item {
      /*
        Elements in first and second cols
      */
      &:nth-child(3n - 2),
      &:nth-child(3n - 1) {
        padding-right: var(--itemPaddingX);
        border-right: var(--border);
      }
      
      /*
        Elements in second col
      */
      &:nth-child(3n - 1) {
        @include full-vw-centered-line(bottom);
      }
      
      /*
        Elements in second and third cols
      */
      &:nth-child(3n - 1),
      &:nth-child(3n) {
        padding-left: var(--itemPaddingX);
      }
    }
  }
  
  &__item {
    padding-block: var(--itemPaddingY);
  }
}