@use '../helpers' as *;

.footer {
  color: var(--color-dark-40);

  &__body {
    padding-bottom: fluid(80, 40);
    border-bottom: var(--border);
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    column-gap: fluid(80, 20);

    &-column {
      display: grid;
      row-gap: fluid(36, 16);
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: fluid(18, 8);
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: rem(8);
    }

    &-link.button {
      font-size: rem(18);
      padding: rem(10) rem(16);

      @include laptop {
        font-size: rem(14);
        padding: rem(8) rem(14);
      }
    }
  }
}
