@use '../helpers' as *;

.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  &__item {
    display: flex;
    flex-direction: column-reverse;
    row-gap: rem(10);
    padding: rem(50);
    
    &:first-child {
      padding-left: 0;
    }
    
    &:not(:last-child) {
      border-right: var(--border);
    }
  }
  
  &__value {
    font-weight: 600;
  }
  
  &__sign {
    @include fluid-text(40, 24);
    font-weight: 600;
    letter-spacing: -0.03em;
    
    color: var(--color-accent);
  }
}