@use '../helpers' as *;

.resources-preview {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: rem(30);
  
  &__body {
    display: grid;
    row-gap: rem(14);
  }
}