@use '../helpers' as *;

.team {
  --personImageSize: #{rem(60)};
  
  display: flex;
  padding: rem(10);
  background-color: var(--color-dark-10);
  border: var(--border);
  border-radius: rem(100);
  
  &__person {
    width: var(--personImageSize);
    background-color: var(--color-dark-15);
    border-radius: 50%;
    border: rem(2) solid var(--color-dark-40);
    
    &:not(:first-child) {
      margin-left: calc(var(--personImageSize) / 4 * -1);
    }
  }
}